<html>
<h1>Resources to Become a STEM Goddess</h1>
<h2>Courses</h2>
<ul>
    <li><p> <a href="https://www.codecademy.com/learn" target="_blank">CodeAcademy</a> includes courses for your student to learn how to code.</p></li>
    <li><p><a href="https://khanacademy.com" target="_blank">KhanAcademy</a> is a free online service filled with courses on various programming languages to jumpstart your child's interest in STEM</p></li>
    <li><p><a href="https://udemy.com" target="_blank">Udemy</a> is an excellent online resource with ample courses on programming and tech related skills</p></li>
</ul>
<h2>Organizations</h2>
<ul>
    <li><p> <a href="https://www.engineergirl.org/" target="_blank">EngineerGirl</a> provides great insight regarding careers in engineering.</p></li>
    <li><p> <a href="http://womeninit.org/internship.php" target="_blank">Citi Women in IT Internship Program</a> provides an engaging and fast paced work experience for aspiring engineers and computer scientists.</p></li>
    <li><p> <a href="https://girlswhocode.com/" target="_blank">Girls Who Code</a> will allow your student to start their own club and enroll in seminars and workshops designed for women interested in STEM.</p></li>
</ul>
<app-subscribe></app-subscribe>