<div class="form-popup" id="myForm">
  <form class="form-container">
    <h1>Subscribe To Our Weekly Newsletter!</h1>
    <h4>Subscribe if you are interested in receiving weekly updates on what is new in the world of STEM!</h4>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" required>

    <button type="submit" class="btn" (click)="onSubmit()">Submit</button>
    <button type="submit" class="btn cancel" (click)="closeForm()">Close</button>
  </form>
</div>
