<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

</style>
<h1>An Inside Look into STEM</h1>
<h3>Learn More About the STEM Field and Women Involved!</h3>
  <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">What is STEM?</span></h5>
        <p>STEM is a commonly used acronym meant to encompass Science, Technology, Engineering, and Math. STEM professionals can be involved in all of its components or they can specialize in just one field. STEM professionals may include: engineers, doctors, physicists, chemists, astronauts, and more! The possibilities are endless, and we dare you to explore them.</p>
      </div>
   </div>
    <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:600px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Meet the Creators!</span></h5>
      </div>
    </div>
  <hr>
  <h4><strong>Name:</strong> Daidreuna Donaldson</h4>
  <div class="flex-container">
    <img src= "/assets/Images/IMG_8080.jpg" alt="Daidreuna" width = "300vw" height = "15%">
  </div>
  <h4><strong>School:</strong> St. Augustine High School</h4>
  <h4><strong>Team:</strong> Global Consumer Information Security </h4>
  <h4><strong>About:</strong> Daidreuna Donaldson attends St. Augustine High School and she is in the A.I.C.E. program. While in high school she has been on the Cyber Patriot team through Civil Air Patrol and has taught herself how to code in Python. She has had to teach herself because her school did not offer any technolgy classes meaning that it is possible for anyone to code! After high school she plans attending Howard Unversity while pursuing a degree in Computer Science and minoring in Spanish or Swahili. Her past experience in technology is a Citi Bank One-Week internship and also a Six-Week internship. Both of these internships enriched her knowledge in technology and has emowered her to be a better person.</h4> 
  <hr>
  <h4><strong>Name:</strong> Farah Contractor</h4>
  <div class="flex-container">
    <img src= "/assets/Images/Farah.JPG" alt="Farah" width = "300vw" height = "15%">
  </div>
  <h4><strong>School:</strong> University of Florida</h4>
  <h4><strong>Team:</strong> Global Consumer Information Security Project Management Office</h4>
  <h4><strong>About: </strong>Farah Contractor is a graduate from the International Baccalaureate program and Nease High School. However, her interest in STEM spans long before her high school years, as she competed on a robotics team in seventh grade and accompanied her team to the state level competition. She continued pursuing her interest by taking classes such as Introduction to Engineering Design and re-entering the realm of robotics with the Citi One-Week internship and the CitiGals robotics team. Farah is currently working on automating Excel spreadsheets as a part of her internship, and looks forward to applying her skills in the future.</h4>
  <hr>
  <h4><strong>Name:</strong> Emily Kelsey</h4>
  <div class="flex-container">
    <img src= "/assets/Images/FullSizeRender.jpeg" alt="Emily" width = "300vw" height = "15%">
  </div>
  <h4><strong>School:</strong> University of Florida</h4>
  <h4><strong>Team:</strong> Digital Citi Cloud Technology </h4>
  <h4><strong>About: </strong>Emily is a recent graduate from Bartram Trail High School. She has been designated a National AP Scholar and graduated 6th in her class. Her passion for technology began at a young age through her love for video games. Her curiosity about how video games are created led her to major in Computer Science in college. She hopes that this website acts as a launching pad for girls with a similar passion for STEM.</h4>