<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

</style>
<h1>Welcome to Starting in STEM!</h1>
<h3>The goal of this website is to serve as an educational hub for parents who have daughters interested in STEM.</h3>
  <div class="w3-container" id="about">
      <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">ABOUT US</span></h5>
        <p>As a part of the Women In IT Program at Citi, it has become apparent that women are a minority in STEM fields. As three women who are passionate about computer science, we wanted to create this website to not only showcase our STEM knowledge but to encourage women to pursue careers in this field.</p>
        <div class="w3-panel w3-light-grey">
          <h2><strong>Highlights in STEM</strong></h2>
          <h4>Below are highlights that include recent innovations made by women involved in STEM.</h4>
          <app-slideshow></app-slideshow>
        </div>
      </div>
    </div>
    
  
  